@model Despesa
@{
    Layout = "NewLayout";
}
<div class="container">
    <div class="jumbotron">
        <p> @ViewBag.Texto</p>
    </div>
    <div class="well">

        <strong>NomeDespesa:	</strong>@Model.NomeDespesa
        <strong>Quantidade:	</strong>@Model.Quantidade
        <strong>Valor:	</strong>@Model.Valor
        <strong>Categoria:	</strong>@Model.Categoria
        <strong>Pago:	</strong>@Model.Pago
    </div>
    <div>
        <a asp-action="NovaDespesa">Confirmar Despesa</a>
    </div>

    <button asp-controller="DespesasController" asp-action="NovaDespesa" class="btn btn-default">
        <span class="glyphicon glyphicon-plus-sign"> </span>
       Voltar às Despesas
    </button>


</div>
